body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    width: 100%;
    padding: 20px 35px;
    box-shadow: 0px 3px 10px gray;
    font-size: 1.5rem;
}

header{
    width: 630px;
    margin: 100px auto;
    text-align: center;
}

#books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
    gap: 10px;
}

.book-div-top{
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    border-bottom: 5px solid #d9d9d9;
    background-color: #1bd760;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-div-bottom{
    width: 300px;
    background-color: #fff;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#purple-emphasis{
    color: purple;
}

.indiviual-book-container{
    margin-bottom: 10px;
    border: 1px solid #eef1f4;
    border-radius: 10px;
}

.indiviual-book-container:hover{
    border: 1px solid #e2e6ea;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.book-category-title{
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 10px;
}

.book-title{
    font-size: 1rem;
    margin: 0;
    padding: 10px 10px;
}

.book-author{
    font-size: 0.8rem;
    margin: 0;
    padding: 10px 10px;
}

.book-image{
    width: 100px;
    height: 120px;
    border-radius: 25px;
    margin: 40px auto;
}

.added-functionality{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 30px;
}

.added-functionality > button{
    width: 30px;
    height: 30px;
    margin: 5px 0;
    background-color: wheat;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.added-functionality button:hover{
    background-color: green;
}